<div class="bg-indigo-600">
  <div class="mx-auto max-w-7xl py-3 px-3 sm:px-6 lg:px-8">
    <div class="flex flex-wrap items-center justify-between">
      <div class="flex w-0 flex-1 items-center">
        <p class="ml-3 truncate font-medium text-white">
          <span class="md:hidden">We announced a new product!</span>
          <span class="hidden md:inline"
            >We are actively conducting early stage user testing. We’d love to
            get in touch with you and show you a demo.
          </span>
        </p>
      </div>
      <div
        class="order-3 mt-2 w-full flex-shrink-0 sm:order-2 sm:mt-0 sm:w-auto"
      >
        <a
          href="contact"
          class="flex items-center justify-center rounded-md border border-transparent bg-white px-4 py-2 text-sm font-medium text-indigo-600 shadow-sm hover:bg-indigo-50"
          >Get in touch</a
        >
      </div>
    </div>
  </div>
</div>
